<div class="card" [class.panel-success]="selectedId === employee.id">
  <div class="card-header">{{ employee?.fullname }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ employee.fullname }}</h5>
    <p class="card-text">{{ employee.email }}</p>
    <p class="card-text">{{ employee.phone }}</p>
    <p class="card-text">{{ employee.department }}</p>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="view()">View</button>&nbsp;
    <button class="btn btn-success" (click)="edit()">Edit</button>&nbsp;
    <button class="btn btn-warning" (click)="delete()">Delete</button>
  </div>
</div>
