<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(); employeeForm.reset()">
  <div class="card">
    <div class="card-header">Employee Create</div>
    <div class="card-body">
      <div class="mb-3">
        <!-- Full name -->
        <div class="form-group" [class.has.error]="fullname.invalid && fullname.touched">
          <label>Full name</label>
          <input required type="text" class="form-control" #fullname="ngModel" [(ngModel)]="employee.fullname"
            name="fullname">
          <span class="help-block" *ngIf="fullname.invalid && fullname.touched">Fullname is required!</span>
        </div>
      </div>

      <!-- Contact Preference -->
      <div class="form-group">
        <label class="form-check-label" for="contactPreference">
          Contact Preference
        </label>
        <div class="form-control">
          <div class="form-check">
            <label class="form-check-label" for="contactPreference">
              Email
              <input class="form-check-input ml-3" value="email" type="radio" name="contactPreference"
                #contactPreference="ngModel" id="contactPreference" [(ngModel)]="employee.contactPreferences">
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label" for="contactPreference">
              Phone
              <input class="form-check-input" value="phone" type="radio" name="contactPreference" id="contactPreference"
                [(ngModel)]="employee.contactPreferences">
            </label>
          </div>
        </div>
      </div>
      <br>

      <!-- Email address -->
      <div class="mb-3">
        <div class="form-group" [class.has.error]="email.invalid">
          <label for="email" class="control-label">Email address</label>
          <input [required]="contactPreference.value=='email'"
            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" type="email" class="form-control" id="email"
            [(ngModel)]="employee.email" name="email" placeholder="email" #email="ngModel">
          <span class="help-block" *ngIf="email.errors?.required">Email is required!</span>
          <span class="help-block" *ngIf="email.errors?.pattern">Email is invalid!</span>
        </div>
      </div>
      <div class="mb-3" [class.has.error]="phone.invalid">
        <div class="form-group">
          <label>Phone Number</label>
          <input [required]="contactPreference.value=='phone'" type="phone" class="form-control" id="phone"
            [(ngModel)]="employee.phone" name="phone" placeholder="phone" #phone="ngModel">
        </div>
        <span class="help-block" *ngIf="phone.errors?.required">Phone Number is required!</span>
      </div>

      <!-- Gender -->
      <div class="form-group" [class.has-error]="gender.invalid">
        <div class="form-control">
          <div class="form-check">
            <label class="form-check-label" for="gender">
              <input class="form-check-input" #gender="ngModel" value="male" type="radio" name="gender" id="gender"
                [(ngModel)]="employee.gender">
              Male
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="gender">
              <input class="form-check-input" #gender="ngModel" value="female" type="radio" name="gender" id="gender"
                [(ngModel)]="employee.gender">
              Female
            </label>
          </div>
        </div>
        <span class="help-block" *ngIf="gender.invalid">
          Gender is required
        </span>
      </div>
      <br>
      <!-- is Active -->
      <div class="form-group" [class.has-error]="isActive.invalid && isActive.touched">
        <div class="form-control">
          <label class="form-check-label" for="isActive">
            <input class="form-check-input" type="checkbox" value="" id="isActive" name="isActive" #isActive="ngModel"
              [(ngModel)]="employee.isActive" [required]="employee.isActive==null">
            is Active
          </label>
        </div>
        <span class="help-block" *ngIf="isActive.errors?.required && isActive.touched">
          Is Active is required
        </span>
      </div>
      <br>

      <!-- Date of Birth -->
      <div class="form-group col-md-5">
        <label for="dateOfBirth">
          Date of Birth
        </label>
        <input class="form-control" type="text" bsDatepicker value="" id="dateOfBirth" name="dateOfBirth"
          [(ngModel)]="employee.dateOfBirth" [bsConfig]="datepickerConfig">
      </div>

      <!-- Photo -->
      <div class="form-group">
        <label for="photo">
          Photo
        </label>
        <input class="form-control" type="text" id="photo" name="photo" [(ngModel)]="employee.photo">
      </div>
      <br>
      <div>
        <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary">{{previewPhotos ? 'Hide' : 'Show'}}
          Preview</button>
      </div>
      <br>
      <div class="form-group">
        <img src="photo" alt="photo" height="200" width="200" *ngIf="previewPhotos">
      </div>
      <br>

      <!-- Department -->
      <div class="form-group" [class.has-error]="department.touched && department.errors?.defaultSelected">
        <label for="department">Department</label>
        <select appSelectValidator="select" class="form-select" aria-label="Default select example" name="department"
          [(ngModel)]="employee.department" #department="ngModel">
          <option disabled value="select">Select Department</option>
          <option *ngFor="let dept of departments" [value]="dept.name">{{dept.name}}</option>
        </select>
        <span class="help-block" *ngIf="department.touched && department.errors?.defaultSelected">
          Department is required
        </span>
      </div>
      <br>

      <!-- Password and Confirm Password -->
      <div ngModelGroup="passwordGroup"
        [class.has-error]="confirmPassword.touched && !confirmPassword.errors?.required">
        <div class="form-group" [class.has-error]="password.touched && password.invalid">
          <label for="password" class="control-label">Password</label>
          <input id="password" required type="text" class="form-control" name="password" [(ngModel)]="employee.password"
            #password="ngModel" (input)="confirmPassword.control.updateValueAndValidity()">
          <span class="help-block" *ngIf="password.touched && password.errors?.required">
            Password is required
          </span>
        </div>
        <br>
        <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
          <label for="confirmPassword" class="control-label">Confirm Password</label>
          <input name="confirmPassword" appConfirmEqualsValidator="password" required id="confirmPassword" type="text"
            class="form-control" [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel">
          <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
            Confirm Password is required
          </span>
          <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual &&
                        !confirmPassword.errors?.required">
            Password and Confirm Password does not match
          </span>
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-primary" (click)="reset(employeeForm)">Reset</button> &nbsp;
      <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
    </div>
  </div>
</form>

<!-- {{employeeForm.value | json}} -->
Employee Model: {{employee | json}}
